<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeus.mapper.BoardMapper">
	<insert id="create">
		INSERT INTO mybatisBoard(no, title, content, writer)
		VALUES( mybatisboard_seq.NEXTVAL, #{title}, #{content},	#{writer})
	</insert>
	
	<select id="read" resultType="Board">
		SELECT no, title, content, writer, reg_date FROM mybatisBoard WHERE no = #{no}
	</select>
	
	<update id="update">
		UPDATE mybatisBoard SET title = #{title}, content =	#{content}	WHERE no = #{no}
	</update>
	
	<delete id="delete">
		DELETE FROM mybatisBoard WHERE no = #{no}
	</delete>
	
	<select id="list" resultType="Board"> 
<![CDATA[ SELECT no, title, content, writer, reg_date FROM mybatisboard WHERE no > 0 ORDER BY no DESC, reg_date DESC ]]>
	</select>
	
	<select id="boardSearch" resultType="Board">
		SELECT * FROM mybatisBoard
		<where>
			<if test="keyword != null and keyword != ''">
				<choose>
					<when test="searchType == 'title'">
						AND title LIKE '%' || #{keyword} || '%'
					</when>
					<when test="searchType == 'content'">
						AND content LIKE '%' || #{keyword} || '%'
					</when>
					<when test="searchType == 'writer'">
						AND writer LIKE '%' || #{keyword} || '%'
					</when>
					<otherwise>
						AND (title LIKE '%' || #{keyword} || '%'
						OR content LIKE '%' || #{keyword} || '%')
					</otherwise>
				</choose>
			</if>
		</where>
		ORDER BY no DESC
	</select>
</mapper>